<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="intro-image col-md-4">
		    <figure>
		      <a href="/" border=0 id="logolink"><div class="icon-compass" id="logo"> </div></a>
		    </figure>
				</div>
				<div class="intro-message col-md-8">
					<h1>{{ .Site.Title }} #{{ .Title }}</h1>
					<h3>{{ .Site.Params.description }}</h3>
					<hr class="intro-divider">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
