<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
							<ul class="icons">
								<li><a href="https://twitter.com/ankigene"><span class="icon-twitter" aria-label="Twitter"></span></a></li>
								<li><a href="https://github.com/ankigene"><span class="icon-github" aria-label="GitHub"></span></a></li>
								<li><a href="/index.xml"><span class="icon-rss" aria-label="Feed"></span></a></li>
							</ul>
                <p class="copyright text-muted small">Copyright &copy; {{ .Site.Title }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
