<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="intro-image col-md-4">
		    <figure>
		      <a href="/" border=0 id="logolink"><div class="icon-compass" id="logo"></div></a>
		    </figure>
				</div>
				<div class="intro-message col-md-8">
					<h1>{{ .Site.Title }}{{ if (ne .Data.Plural nil) }}{{ if (ne (title .Data.Plural) .Title) }} #{{ .Title }}{{ end }}{{ end }}</h1>
					<h3>{{ .Site.Params.description }}</h3>
					<hr class="intro-divider">
							<ul class="icons">
								<li><a href="https://twitter.com/ankigene"><span class="icon-twitter" aria-label="Twitter"></span></a></li>
								<li><a href="https://github.com/ankigene/ankigene.github.io/tree/develop"><span class="icon-github" aria-label="GitHub"></span></a></li>
								<li><a href="/index.xml"><span class="icon-rss" aria-label="Feed"></span></a></li>
							</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
